.item {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto 10px;
  outline: 1px solid #d8d7d6;
  background-color: #ebe9e8;
  border-radius: 20px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.avatar {
  margin: 0 30px;
  padding: 10px;
  border-radius: 25px;
  background-color: white;
}

.label {
  margin-bottom: 15px;
}

.name {
  margin-right: 20px;

  font-weight: 700;
  font-size: 20px;
}
